extends layout.pug

block stylesheets
	link(rel="stylesheet", href="/css/error_styles.css")

block content
	.message-wrapper
		h2 An Error ocurred!

		li.fi-info.icon

		p An error ocurred while loading this page, please contact the administrador of this page and let him know about this error using the following email address
			br
			strong cavesagarcia@hotmail.com
