@import url("https://fonts.googleapis.com/css?family=Cantata+One|Open+Sans");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #353537;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fafafa;
}

header {
  color: #fff;
  padding: 3em 2em;
  background-color: #303746;
}
header img {
  width: 80px;
  display: block;
  margin: 1em auto;
  border-radius: 100%;
}
header .user_info {
  text-align: center;
}
header .user_info h2 {
  color: #e0e0e0;
  font-weight: 400;
  font-family: "Cantata One", Georgia, Times, serif;
}
header .user_info ul {
  margin: 1em 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .user_info ul li {
  color: #aeb6c7;
  margin: 0px 0.5em;
}
header .user_info .user_location {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717f9e;
}
header .user_info .user_location i {
  margin-right: 1em;
}

main .projects_content {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .projects_content .project {
  margin: 1em;
  width: calc(100% / 3.5);
  display: inline-block;
}
main .projects_content .project .project_img {
  width: 100%;
}
main .projects_content .project .project_img img {
  width: 100%;
}
main .projects_content .project .project_info {
  text-align: center;
}
main .projects_content .project .project_info h2 {
  font-size: 14px;
  margin: 0.5em 0px;
  color: #557682;
}
main .projects_content .project .project_info ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .projects_content .project .project_info ul li {
  font-size: 12px;
  margin: 0px 0.5em;
  color: #aeaeae;
}
main .projects_content .project .project_info ul li:after {
  content: ",";
}
main .projects_content .project .project_info ul li:last-child:after {
  content: " ";
}

footer {
  padding: 3em;
  text-align: center;
  color: #aeaeae;
}
footer .icon_p a {
  font-size: 3em;
  color: #1769ff;
  text-decoration: none;
}
