// base partials
@import 'partials/base';

*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.message-wrapper {
	width: 100%;
	padding: 2em 1em;
	text-align: center;
	font-family: 'Roboto', 'Arial', sans-serif;

	h2 {
		color: red;
		font-size: 24pt;
	}

	.icon {
		list-style: none;
		font-size: 100pt;
		color: #ca1f1f;
	}

	p {
		padding-top: 1em;
		text-align: center;
	}
}
