
// base partials
@import 'partials/base';

*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-weight: 300;
	color: $smooth_black;
	font-family: $font-body;
	background-color: $light_grey;
}

header {
	color: #fff;
	padding: 3em 2em;
	background-color: $dark_blue;

	img {
		width: 80px;
		display: block;
		margin: 1em auto;
		border-radius: 100%;
	}

	.user_info {
		text-align: center;
		
		h2 {
		   // font-size: 24px;
           color: $grey;
           font-weight: 400;
           font-family: $font-name;
		}

		ul {
			margin: 1em 0px;
			list-style: none;
			@include center-flex;

			li {
				color: lighten($dark_blue, 50%);
				margin: 0px 0.3em;

				&:after {
					content: ",";
				}

				&:last-child:after {
					content: " ";
				}
			}
		}

		.user_location {
			@include center-flex;
            color: lighten($dark_blue, 30%);

			i {
				margin-right: 1em;
			}
		}
	}
}

main {
	.projects_content {
		width: 100%;
		padding: 2em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;

		.project {
			margin: 1em;
			width: calc(100% / 3.5);
			// width: 100px;
			display: inline-block;

			.project_img {
				width: 100%;
				position: relative;

				img {
					width: 100%;
					border-radius: 5px;
				}

				.data-overlay {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;

					opacity: 0;
					display: flex;
					border-radius: 5px;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					background-color: $transparent_black;
					color: lighten($transparent_black, 90%);
					@include transition(opacity, 0.2s, 0.1s, ease-out);

					&:hover {
						opacity: 1;

						.data-wrap {
							opacity: 1;
						}
					}

					.data-wrap {
						opacity: 0;
						font-size: 1.5em;

						> span {
							margin-left: 1em;
						}
					}
				}
			}


			.project_info {
				text-align: center;

				h2 {
					font-size: 14px;
					margin: 0.5em 0px;
					color: darken($slight_dark_blue, 10%);
				}

				ul {
					list-style: none;
					@include center-flex;

					li {
						font-size: 12px;
						margin: 0px 0.5em;
						color: darken($light_grey, 30%);

						&:after {
							content: ",";
						}

						&:last-child:after {
							content: " ";
						}
					}
				}
			}
		}
	}
}

footer {
	padding: 3em;
	text-align: center;
	color: darken($light_grey, 30%);

	.icon_p a {
		color: $blue;
		font-size: 3em;
		text-decoration: none;
	}
}